<div class="fondo-footer mt-5" id="contacto">
    <footer>
        <div>
            <h3>
                © Copyright 2021. Miguel Angel Vasquez Osorio v0.0.1
            </h3>
        </div>
        <h3>
            Todos los derechos reservados.
        </h3>
    </footer>
</div>