<div class="fondo-footer mt-5" id="contacto">
    <footer>
        <div style="display: flex; justify-content: center;">
            <form style="padding: 20px; width: 50%; margin-top: 70px;display: flex; justify-content: center;
                        flex-wrap: wrap; background: white;border-radius: 10px;" action="">
                <h2 style="width: 100%;text-align: center;color: black;">CONTACTO</h2>
                <div style="width: 100%;text-align:center;padding-top: 10px;">
                    <label for=""></label>
                    <input style="width: 400px;" type="text" placeholder="Escribe tu nombre">
                </div>
                <div style="width: 100%;text-align: center;padding-top: 10px;">
                    <label for=""></label>
                    <input style="width: 400px;" type="email" placeholder="Escribe tu correo">
                </div>
                <div style="width: 100%;text-align: center;padding-top: 10px;">
                    <textarea style="width: 400px;" name="comentario" id="" cols="30" rows="10"></textarea>
                    
                </div>
                <div style="width: 100%;text-align: center;">
                    <button style="background:#0260b3;color:white;border: 1px solid #0260b3;">Enviar</button>
                </div>
            </form>
        </div>

        <div>    
            <p style="text-align: center;margin-top: 20px;">
                © Copyright 2021. Miguel Angel Vasquez Osorio v0.0.1 <br>
            </p>
        </div>
    </footer>
</div>