/* Presentacion  */
.fondo-home{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #c565eb0c 0%, #2cf53613 100%),url('../img/menu.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.presentacion{
    margin-top: 100px;
}
.ir-portafolio{
    border: 1px solid white;
    border-radius:50px;
    width: 220px;
    align-items: center;
    background: rgba(0, 0, 0, 0.548);
    cursor: pointer;
}
.ir-portafolio:hover{
    background: rgba(0, 0, 0, 0.774);
}
/* Sobre mi */

.card-about-me{
    width: 90%;
    height: 100vh;
    margin: auto;
}

.card-about{
    width: 90%;
    height: 500px;
    box-shadow: 1px 11px 41px 4px rgba(0, 0, 0, 0.383);
    background: rgba(217, 187, 219, 0.219);
    margin: auto;
}
.card-me{
    width: 45%;
    height: 83%;
    margin: 40px;
}
.img-about img {
    width: 100%;
    height: 250px;
}
.icons{
    margin-top: 40px;
}
.icon{
    border: 3px solid #0260b3;
    padding: 5px;
    border-radius: 50%;
    transition: all 1s ease;
}
.icon:hover{
    border: 3px solid #84b9e7;
    border-radius: 50%;
    color: white;
    background: #0275d8;
}
.acordion{
    width: 45%;
    min-height: 250px;
    max-height: auto;
    margin-right: 40px;
    margin-top: 40px;
}
.accordion{
    width: 45%;
    min-height: 250px;
    max-height: auto;
    margin-top: 20px;
    margin-bottom: 40px;

}

/* SERVICIOS */
#service{
    width: 100%;
    height: 100vh;
}
.serviceIcon{
    width: 50px;
    height: 50px;
}
.service-card{
    width: 31%;
    height: 400px;
    box-shadow: 1px 11px 41px 4px rgba(0, 0, 0, 0.274);
    border-radius: 10px;
    background: rgba(217, 187, 219, 0.219);
    position: relative;
    transition: all .8s ease;
}
.service-card button{
    padding: 10px;
    width: 110px;
    border-radius: 30px;
    position: absolute;
    bottom: -15px;
    opacity: 0;
    transition: all .8s ease;
}
.service-card:hover button{
    opacity: 1;
    transition: all 1s ease;
    background: rgb(102, 13, 161);
    border: 3px solid rgba(157, 97, 197, 0.863);
}
.service-card:hover {
    background: rgba(109, 19, 168, 0.185);
}
.img-service{
    width: 150px;
    height: 150px;
    border: 5px solid #0275d8;
    border-radius: 50%;
    padding: 15px;
    transition: all .8s ease;
}
.img-service img{
    width: 100%;
}
.service-card:hover .img-service {
    background: rgba(108, 19, 168, 0.534);
    border: 5px solid #8ab3d6;
}
/* Portafolio */
#portafolio{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
}
.card{
    box-shadow: 1px 11px 41px 4px rgba(0, 0, 0, 0.294);
}
.card img{
    transition: all .8s ease;
}

.card:hover img{
    filter: drop-shadow(0 -6mm 4mm rgba(137, 81, 155, 0.363));
    transform: scale(1.1);
}

.card-body{
    background: rgba(108, 19, 168, 0.253);
}

/* .cambiar-text:before{
    content: "";
    animation: changingTxt 10s linear infinite;
}

@keyframes changingTxt{
    0%{
        content: "de Aplicaciones Web";
    }
    20%{
        content: "de APIs";
    }
    40%{
        content: "Backend";
    }
    60%{
        content: "Web";
    }
    100%{
        content: "de Aplicaciones Web";
    }
} */